
@import "bootstrap/bootstrap.less";

body {
	font-size: 16px;
	span {
		padding: 50px;
		font-size: 10em;
	}
	.center {
		width: 100%;
		text-align: center;
		.big {
			position: relative;
			top: -1.35em;
			font-style: italic;
			font-size: 3em;
			color: blue;
		}
		.medium {
			font-size: 1em;
		}
	}
}
